.container {
  padding: 25px;
}

.container * {
  font-size: 16px;
}

.sumary {
  padding: 10px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding-bottom: 0;
  margin: 0 50px;
}

.barChartWrapper {
  margin-top: 25px;
}