.cameraPreview {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;

}

.guide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  animation: blink-animation 1s infinite;
  color: #FFF;
  font-family: AvertaStdCY, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.frame {
  pointer-events: none;
  width: 85%;
  font-family: AvertaStdCY, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text {
  pointer-events: none;
  position: absolute;
  width: 60%;
}

@keyframes blink-animation {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}