.container {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 64px;
  border-bottom: 1px solid #e0e0e0;
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.email {
  padding: 0 12px;
  margin: 0 12px;
  cursor: pointer;
  border: 1px solid var(--black);
  color: var(--text);
  border-radius: 999px;
}

.logoutIcon {
  cursor: pointer;
  color: var(--error-deep);
}
