@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

.container {
    padding: 25px;
    height: calc(100vh - 85px);
    overflow-y: scroll;
}

.scheduleWrapper {
    margin: 0 auto;
    // overflow-y: scroll;
    height: calc(100vh - 200px);
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px;
        height: calc(100vh);
    }
    .scheduleWrapper {
        height: calc(100vh - 150px);
    }
}

.logoutButton {
    width: 200px;
    margin: 0 auto;
}