:root {
  --font-family: sans-serif;
  // Color
  --primary: #1677ff;
  --primary-light: rgba(118, 245, 156, 0.2);
  --primary-icon: #fff;
  --primary-container: #f2f6fc;
  --primary-surface: #f7f9fc;
  --primary-hover: rgba(145, 158, 171, 0.08);
  --primary-lightest: rgba(145, 158, 171, 0.039);
  --primary-darker: rgba(0, 171, 85, 0.2);
  --primary-darkest: rgba(0, 171, 85, 0.4);
  --primary-background: #fff;
  --text: #161823;
  --white: #fff;
  --black: #000;
  // Warning
  --warning-light: "";
  --warning-pale: "";
  --warning-pastel: "";
  --warning-medium: #fff700;
  --warning-deep: "";
  --warning-dark: "";
  // Error
  --error-light: #e4c0c0;
  --error-pale: #cf7c7c;
  --error-pastel: #c05656;
  --error-medium: #c53c3c;
  --error-deep: #f00;
  --error-dark: #530909;
}

[data-theme="dark"] {
  --primary: #00ab55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
