.container {
    padding: 25px 50px;
}

.wrap-resource {
    display: flex;
    align-items: center;
    overflow-y: auto;
    height: 90px;
    border: 1px solid;
    margin-bottom: 25px;
}

.resource {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid;
    width: 80px;
    height: 80px;
    margin-right: 8px;
}

.action {
    width: 55px;
    justify-content: end;
    display: flex;
}

.avatar-loading {
    width: 60px;
    height: 60px;
}

@media (max-width: 768px) {
    .container {
        padding: 12px;
    }
  }
  