html {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}

body {
  background-color: transparent !important;
  display: block;
  height: 100vh;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-yellow {
  color: yellow;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.block {
  display: block;
}

.select-none {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.m-5 {
  margin: 6px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.text-28 {
  font-size: 28px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.flex-end {
  justify-content: flex-end;
}

.round-full {
  border-radius: 50%;
}

#cameraPreview video {
  border-radius: 50%;
  transform: unset !important;
  width: 100%;
  height: 100%;
}

.visibile {
  visibility: hidden;
}

.mt-20 {
  margin-top: 20px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.w-24 {
  width: 24px;
}