html {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}

body {
  background-color: transparent !important;
  display: block;
  height: 100vh;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: green;
}
.text-red {
  color: red;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.block {
  display: block;
}

.select-none {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.m-5 {
  margin: 6px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.text-28 {
  font-size: 28px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.flex-end {
  justify-content: flex-end;
}

.round-full {
  border-radius: 50%;
}

#cameraPreview video {
  border-radius: 50%;
  transform: unset !important;
  width: 100%;
  height: 100%;
}

.visibile {
  visibility: hidden;
}

.mt-20 {
  margin-top: 20px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.w-24 {
  width: 24px;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel {
  text-align: center !important;
}

.rbc-header {
  text-transform: capitalize;
  padding: 10px !important;
}

.rbc-toolbar-label {
  text-transform: capitalize;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: #73adb4 !important;
}

.relative {
  position: relative;
}

.r-10 {
  right: 10px;
}

.r--7 {
  right: -7px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.p-16 {
  padding: 16px;
}

.pb-0 {
  padding-bottom: 0px;
}

.bg-white {
  background-color: white;
}

.over-hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-1000000 {
  z-index: 1000000;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.text-right {
  text-align: right;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-grow {
  flex-grow: 1;
}