.container {
  height: calc(100vh - 85px);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 300px;
  border-right: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .menu {
    min-width: 100px;
    background-color: #f9fafb;
  }
}
